@import '../style/prefix.scss';
@import '../style/mixins.scss';

.#{$prefix}-radio {
  display: flex;
  align-items: center;
  @include disabled;
  @include font-size(md);
  cursor: pointer;

  &__label {
    margin-left: var(--d-gap-xxs);
  }
}
