@import '../style/prefix';

:root {
  // 遮罩层背景颜色
  --d-overlay-bg-color: rgba(0, 0, 0, 0.3);
}

.#{$prefix}-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--d-overlay-bg-color);
  transition: background-color 0.8s;

  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
