@import '../style/prefix';
@import '../style/mixins';

.#{$prefix}-picker {
  &__trigger {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include disabled;

    .#{$prefix}-icon {
      margin-left: var(--d-gap-xxs);
    }

    &--empty:not(.#{$prefix}-icon) {
      @include placeholder;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--d-gap-sm);

    &--confirm {
      color: var(--d-primary);
    }

    &--cancel {
      color: var(--d-secondary-text-color);
    }
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
