@import '../style/prefix.scss';

:root {
  --d-switch-bg-color: #bcbcbc;
  --d-switch-small-width: 30px;
  --d-switch-small-height: 16px;
  --d-switch-medium-width: 40px;
  --d-switch-medium-height: 20px;
  --d-switch-large-width: 50px;
  --d-switch-large-height: 24px;
}

.#{$prefix}-switch {
  $prefix: &;
  --d-switch-small-handle: calc(var(--d-switch-small-height) - 4px);
  --d-switch-medium-handle: calc(var(--d-switch-medium-height) - 4px);
  --d-switch-large-handle: calc(var(--d-switch-large-height) - 4px);
  position: relative;
  border: 0;
  border-radius: 4px;
  background-color: var(--d-switch-bg-color);
  vertical-align: middle;
  transition: background-color 0.3s;
  cursor: pointer;

  &--active {
    background-color: var(--d-primary);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--loading {
    cursor: wait;
  }

  &--small {
    width: var(--d-switch-small-width);
    height: var(--d-switch-small-height);

    #{$prefix} {
      &__handle {
        width: var(--d-switch-small-handle);
        height: var(--d-switch-small-handle);

        &--active {
          left: calc(100% - calc(var(--d-switch-small-handle) + 6px));
        }
      }
    }
  }

  &--medium {
    width: var(--d-switch-medium-width);
    height: var(--d-switch-medium-height);

    #{$prefix} {
      &__handle {
        width: var(--d-switch-medium-handle);
        height: var(--d-switch-medium-handle);

        &--active {
          left: calc(100% - calc(var(--d-switch-medium-handle) + 6px));
        }
      }
    }
  }

  &--large {
    width: var(--d-switch-large-width);
    height: var(--d-switch-large-height);

    #{$prefix} {
      &__handle {
        width: var(--d-switch-large-handle);
        height: var(--d-switch-large-handle);

        &--active {
          left: calc(100% - calc(var(--d-switch-large-handle) + 6px));
        }
      }
    }
  }

  &--round {
    &#{$prefix} {
      &--small {
        border-radius: calc(var(--d-switch-small-height) / 2);
      }

      &--medium {
        border-radius: calc(var(--d-switch-medium-height) / 2);
      }

      &--large {
        border-radius: calc(var(--d-switch-large-height) / 2);
      }
    }

    #{$prefix} {
      &__handle {
        border-radius: 50%;
      }
    }
  }

  &__handle {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: var(--d-white-color);
    overflow: hidden;
    font-size: var(--d-font-size-xs);
    line-height: 1;
    transition: left 0.4s;
    transform: translate(3px, -50%);
  }
}
