@import '../style/prefix.scss';

.#{$prefix}-switch {
  $prefix: &;
  position: relative;
  border: 0;
  border-radius: 4px;
  background-color: var(--d-switch-bg-color);
  vertical-align: middle;
  transition: background-color 0.3s;
  cursor: pointer;

  &--active {
    background-color: var(--d-primary);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--loading {
    cursor: wait;
  }

  &__handle {
    width: 16px;
    height: 16px;
    line-height: 18px;
    transform: translate(3px, -50%);

    &--active {
      transform: translate(calc(100% + 3px), -50%);
    }
  }

  &--small {
    width: 30px;
    height: 16px;

    #{$prefix} {
      &__handle {
        width: 12px;
        height: 12px;

        &--active {
          transform: translate(calc(100% + 3px), -50%);
        }
      }
    }
  }

  &--medium {
    width: 40px;
    height: 20px;

    #{$prefix} {
      &__handle {
        width: 16px;
        height: 16px;

        &--active {
          transform: translate(calc(100% + 5px), -50%);
        }
      }
    }
  }

  &--large {
    width: 50px;
    height: 24px;

    #{$prefix} {
      &__handle {
        width: 20px;
        height: 20px;

        &--active {
          transform: translate(calc(100% + 7px), -50%);
        }
      }
    }
  }

  &--round {
    &#{$prefix} {
      &--small {
        border-radius: 8px;
      }

      &--medium {
        border-radius: 10px;
      }

      &--large {
        border-radius: 12px;
      }
    }

    #{$prefix} {
      &__handle {
        border-radius: 50%;
      }
    }
  }

  &__handle {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: var(--d-white-color);
    overflow: hidden;
    font-size: var(--d-font-size-xs);
    line-height: 1;
    transition: transform 0.4s;
    transform: translate(3px, -50%);
  }
}
