@import '../style/prefix.scss';

:root {
  --d-textarea-limit-color: var(--d-secondary-text-color);
}

.#{$prefix}-textarea {
  $prefix: &;
  @include disabled;
  @include font-size(md);

  &__inner {
    width: 100%;
    border: 0;
    resize: none;
    vertical-align: middle;

    &:-webkit-autofill {
      background: none;
    }
  }

  &__limit {
    font-size: var(--d-font-size-xs);
    text-align: right;
    color: var(--d-textarea-limit-color);
  }
}
