@import 'packages/style/prefix.scss';

.#{$prefix}-icon {
  display: inline-flex;
  vertical-align: middle;

  & + * {
    vertical-align: middle;
  }

  &--small {
    > svg {
      width: var(--d-font-size-sm);
      height: var(--d-font-size-sm);
    }
  }

  &--medium {
    > svg {
      width: 16px;
      height: 16px;
    }
  }

  &--large {
    > svg {
      width: 20px;
      height: 20px;
    }
  }
}
