.d-doc-preview {
  $prefix: &;

  &__wrapper {
    margin-top: var(--d-gap-sm);
    border: var(--d-border);

    .shiki {
      margin-top: 0;
    }

    &--h5 {
      height: 500px;
      margin: var(--d-gap-sm) 0;

      #{$prefix} {
        &__content {
          display: flex;
          height: 100%;
          padding: 0;
        }

        &__code {
          flex: 1;
          display: block;
          height: 100%;
          margin-top: 0;
          padding: 0;
          border-right: var(--d-border);
          overflow: auto;
        }

        &__runtime {
          width: 375px;
          height: 100%;
          overflow: auto;
        }
      }
    }
  }

  &__runtime {
    padding: var(--d-gap-sm);
  }

  &__toolbar {
    margin-top: var(--d-gap-sm);
    padding: var(--d-gap-xs) var(--d-gap-sm);
    border-top: 1px dashed var(--d-border-color);
    text-align: center;

    > * {
      cursor: pointer;
    }

    &--active {
      border-bottom: 1px dashed var(--d-border-color);
    }
  }

  &__code {
    display: none;

    &--active {
      display: block;
    }
  }
}
