.d-doc-preview {
  $prefix: &;
  &__wrapper {
    border: var(--d-border);

    > * {
      padding: 0 var(--d-gap-sm);
    }

    &--h5 {
      position: fixed;
      top: 50%;
      right: 30px;
      width: 375px;
      height: 600px;
      padding: 0;
      overflow: auto;
      transform: translateY(-50%);

      > * {
        padding: 0;
      }

      ~ * {
        width: calc(100% - 375px - 30px) !important;
      }
    }
  }

  &__runtime {
    padding-top: var(--d-gap-sm);
  }

  &__toolbar {
    margin-top: var(--d-gap-sm);
    padding: var(--d-gap-xs) var(--d-gap-sm);
    border-top: 1px dashed var(--d-border-color);
    text-align: center;

    > * {
      cursor: pointer;
    }

    &--active {
      border-bottom: 1px dashed var(--d-border-color);
    }
  }

  &__code {
    display: none;
    margin-top: var(--d-gap-sm);
    padding-bottom: var(--d-gap-sm);

    &--active {
      display: block;
    }
  }
}
