@import '../style/prefix';
@import '../style/mixins';

.#{$prefix}-cascader {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include trigger;
  @include font-size(md);

  .#{$prefix}-popup {
    &__content {
      overflow: hidden;
    }

    &__header-left {
      display: flex;
      column-gap: var(--d-gap-sm);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    @include disabled;
    cursor: pointer;

    &--active {
      color: var(--d-primary);
    }
  }

  .#{$prefix}-tabs__nav {
    padding: 0;
    border-radius: 0;
  }

  &__search {
    position: sticky;
    top: calc(var(--d-popup-padding) * -1);
    padding-bottom: var(--d-gap-xs);
    background-color: var(--d-white-color);

    &-panel {
      flex: 1;
      height: 100%;
      overflow-y: auto;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: var(--d-gap-md);
      padding: var(--d-gap-xs) 0;
      @include disabled;
    }

    &-match {
      color: var(--d-primary);
    }

    &-empty {
      padding-top: var(--d-gap-xs);
      color: var(--d-secondary-text-color);
    }
  }
}
