@import '../style/prefix';
@import '../style/mixins';

.#{$prefix}-cascader {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include trigger;

  .#{$prefix}-popup__content {
    overflow: hidden;
  }

  &__content {
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    @include disabled;
    cursor: pointer;

    &--active {
      color: var(--d-primary);
    }
  }
}
