@import '../style/prefix';

:root {
  --d-button-large: 40px;
  --d-button-medium: 32px;
  --d-button-small: 24px;
  --d-button-disabled-opacity: 0.5;
}

.#{$prefix}-button {
  $prefix: &;
  display: inline-block;
  box-sizing: border-box;
  border: var(--d-border);
  cursor: pointer;

  &--block {
    display: block;
    width: 100%;
  }

  // 形状
  &--shape {
    &-default {
      border-radius: var(--d-radius-medium);
    }

    &-round {
      border-radius: 1000px;
    }

    &-rectangular {
      border-radius: 0;
    }
  }

  // 填充模式
  &--fill {
    &-solid {
      border: 0;
      color: var(--d-white-color);

      #{$prefix} {
        &__icon-loading,
        &__custom-icon {
          color: var(--d-white-color);
        }
      }

      // 主题
      &#{$prefix}--theme {
        &-default {
          background: none;
          border: var(--d-border);
          color: var(--d-primary-text-color);

          #{$prefix} {
            &__icon-loading {
              color: var(--d-primary-text-color);
            }
          }

          &:hover {
            border-color: var(--d-primary);
            color: var(--d-primary);
          }
        }

        &-primary {
          background: var(--d-primary);
        }

        &-success {
          background: var(--d-success);
        }

        &-warning {
          background: var(--d-warning);
        }

        &-danger {
          background: var(--d-error);
        }
      }
    }

    &-outline {
      border: 1px solid var(--d-primary);
      color: var(--d-primary);

      // 主题
      &#{$prefix}--theme {
        &-default {
          background: none;
          border: var(--d-border);
          color: var(--d-primary-text-color);

          #{$prefix}__icon-loading {
            color: var(--d-primary-text-color);
          }

          &:hover {
            border-color: var(--d-primary);
            color: var(--d-primary);
          }
        }

        &-primary {
          border-color: var(--d-primary);
          color: var(--d-primary);

          #{$prefix}__icon-loading {
            color: var(--d-primary);
          }
        }

        &-success {
          border-color: var(--d-success);
          color: var(--d-success);

          #{$prefix}__icon-loading {
            color: var(--d-success);
          }
        }

        &-warning {
          border-color: var(--d-warning);
          color: var(--d-warning);

          #{$prefix}__icon-loading {
            color: var(--d-warning);
          }
        }

        &-danger {
          border-color: var(--d-error);
          color: var(--d-error);

          #{$prefix}__icon-loading {
            color: var(--d-error);
          }
        }
      }

      &#{$prefix}--dashed {
        border-style: dashed;
      }
    }

    &-none {
      border: 0;
      color: var(--d-primary);
    }
  }

  // 尺寸
  &--size {
    &-large {
      height: var(--d-button-large);
      min-height: var(--d-button-large);
      padding: 0 var(--d-gap-sm);
      font-size: var(--d-font-size-lg);
    }

    &-medium {
      height: var(--d-button-medium);
      min-height: var(--d-button-medium);
      padding: 0 var(--d-gap-sm);
      font-size: var(--d-font-size-md);
    }

    &-small {
      height: var(--d-button-small);
      min-height: var(--d-button-small);
      padding: 0 var(--d-gap-sm);
      font-size: var(--d-font-size-sm);
    }
  }

  &:disabled {
    opacity: var(--d-button-disabled-opacity);
    cursor: not-allowed;
  }

  &__icon-loading {
    margin-right: var(--d-gap-xxs);
  }

  // 链接模式
  &--is-link {
    height: auto;
    min-height: initial;
    padding: 0;
    border: 0;

    // 主题
    &#{$prefix}--theme {
      &-default {
        color: var(--d-primary-text-color);

        &:hover {
          color: var(--d-primary);
        }
      }

      &-primary {
        color: var(--d-primary);
      }

      &-success {
        color: var(--d-success);
      }

      &-warning {
        color: var(--d-warning);
      }

      &-danger {
        color: var(--d-error);
      }
    }
  }
}
