:root {
  // 主题色
  --d-primary: #057cef;

  // 提示类颜色
  --d-success: #00a870;
  --d-warning: #ed7b2f;
  --d-error: #e34d59;

  --d-white-color: #fff;

  // 灰色
  --d-gray-1: #f7f8fa;
  --d-gray-2: #f2f3f5;
  --d-gray-3: #ebedf0;
  --d-gray-4: #dcdee0;
  --d-gray-5: #c8c9cc;
  --d-gray-6: #969799;
  --d-gray-7: #646566;
  --d-gray-8: #323233;

  // 边框颜色
  --d-border-color: #e5e5e5;
  --d-border: 1px solid var(--d-border-color);

  // 阴影
  --d-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  // 圆角
  --d-radius-xs: 2px;
  --d-radius-md: 4px;
  --d-radius-lg: 8px;

  // 文字大小
  --d-font-size-xs: 10px;
  --d-font-size-sm: 12px;
  --d-font-size-md: 14px;
  --d-font-size-lg: 16px;

  // 行高
  --d-line-height-xs: calc(var(--d-font-size-xs) + 8px);
  --d-line-height-sm: calc(var(--d-font-size-sm) + 8px);
  --d-line-height-md: calc(var(--d-font-size-md) + 8px);
  --d-line-height-lg: calc(var(--d-font-size-lg) + 8px);

  // 文字颜色
  --d-title-color: #{rgba(black, 0.85)};
  --d-primary-text-color: #{rgba(black, 0.85)};
  --d-secondary-text-color: #{rgba(black, 0.45)};
  --d-disable-color: #{rgba(black, 0.25)};
  --d-placeholder-color: #{rgba(black, 0.25)};

  // 间距
  --d-gap-xxs: 4px;
  --d-gap-xs: 8px;
  --d-gap-sm: 16px;
  --d-gap-md: 24px;
  --d-gap-lg: 32px;

  // 水平间距
  --d-horizontal-gap: calc(var(--d-gap-xxs) + var(--d-gap-xs));
}
