@import '../style/prefix.scss';
@import '../style/mixins.scss';

.#{$prefix}-input {
  display: inline-flex;
  width: 100%;
  border: 0;
  caret-color: var(--d-primary);
  @include text-align;
  @include disabled;
  @include font-size(md);

  &__inner {
    flex: 1;
    width: 100%;
    min-width: 0;
    border: 0;
    &::placeholder {
      color: var(--d-placeholder-color);
    }
    &:-webkit-autofill {
      background: none;
    }
  }

  &__suffix-icon {
    margin-left: var(--d-gap-xs);
    color: var(--d-secondary-text-color);
  }
}
