@import '../style/prefix.scss';
@import '../style/mixins.scss';

.#{$prefix}-input {
  display: inline-flex;
  width: 100%;
  border: 0;
  caret-color: var(--d-primary);
  @include text-align;
  @include disabled;

  &__inner {
    flex: 1;
    margin-right: var(--d-gap-xs);
    border: 0;
    &::placeholder {
      color: var(--d-placeholder-color);
    }
    &:-webkit-autofill {
      background: none;
    }
  }
}
