.d-menu {
  $prefix: &;

  &__wrapper:not(&__sub-menu) {
    > #{$prefix}__item {
      padding-bottom: var(--d-gap-xs);
      border-bottom: var(--d-border);

      &:not(:first-of-type) {
        margin-top: var(--d-gap-sm);
      }
    }
  }

  &__item {
    $itemPrefix: &;
    list-style: none;

    &--active {
      color: var(--d-primary);

      #{$itemPrefix}-link--describe {
        color: var(--d-primary);
      }
    }

    &--group-title {
      margin-bottom: var(--d-gap-xs);
      font-size: var(--d-font-size-xs) !important;
      color: var(--d-secondary-text-color);
    }

    &-link {
      height: 32px;
      font-size: var(--d-font-size-sm);
      line-height: 32px;
      cursor: pointer;

      &:hover * {
        color: var(--d-primary);
      }

      &--title {
        margin-right: var(--d-gap-xs);
        font-size: var(--d-font-size-md);
      }

      &--describe {
        color: var(--d-secondary-text-color);
      }
    }
  }
}
