@import '../style/prefix.scss';
@import '../style/mixins.scss';

:root {
  --d-cell-padding-x: var(--d-horizontal-gap);
  --d-cell-padding-y: 10px;
  --d-cell-padding: var(--d-cell-padding-y) var(--d-cell-padding-x);
  --d-m-cell-padding-x: var(--d-gap-sm);
  --d-m-cell-padding-y: 10px;
  --d-m-cell-padding: var(--d-m-cell-padding-y) var(--d-m-cell-padding-x);
  --d-cell-background: var(--d-white-color);
  --d-cell-radius: var(--d-radius-large);
  --d-cell-title-width: 80px;
}

.#{$prefix}-cell {
  $parent: &;
  font-size: var(--d-font-size-md);
  line-height: var(--d-line-height-md);
  padding: var(--d-cell-padding);
  background-color: var(--d-cell-background);

  &--border {
    &:not(:last-of-type) {
      @include border(calc(var(--d-gap-sm) * 2));
    }
  }

  &--pc {
    display: flex;
    padding: 0 0 var(--d-cell-padding-y) 0;

    &#{$parent} {
      &--layout-horizontal {
        column-gap: var(--d-gap-xs);
      }

      &--layout-vertical {
        flex-direction: column;

        #{$parent} {
          &__title,
          &__content {
            min-width: 100%;
          }
        }
      }
    }

    #{$parent} {
      &__wrapper,
      &__content {
        column-gap: var(--d-gap-xs);
      }
    }
  }

  &--mobile {
    padding: var(--d-m-cell-padding);
    flex-direction: column;

    &#{$parent} {
      &--layout-vertical {
        #{$parent} {
          &__wrapper {
            flex-direction: column;
          }

          &__title,
          &__content {
            min-width: 100%;
          }
        }
      }
    }

    #{$parent} {
      &__wrapper,
      &__content {
        column-gap: var(--d-gap-xs);
      }
    }
  }

  &--hide-title {
    #{$parent} {
      &__content {
        text-align: left;
      }
    }
  }

  &--disabled {
    #{$parent} {
      &__title,
      &__content {
        color: var(--d-disable-color);
      }
    }
  }

  &--round {
    overflow: hidden;

    &:first-of-type {
      border-top-left-radius: var(--d-cell-radius);
      border-top-right-radius: var(--d-cell-radius);
    }

    &:last-of-type {
      border-bottom-left-radius: var(--d-cell-radius);
      border-bottom-right-radius: var(--d-cell-radius);
    }
  }

  &__wrapper {
    flex: 1;
    display: flex;
  }

  &__title {
    flex-shrink: 0;
    @include text-align;
    width: var(--d-cell-title-width);
    align-self: flex-start;
    word-break: break-word;

    &-mark {
      vertical-align: middle;
      color: var(--d-error);
    }

    &-icon {
      display: inline-block;
      margin-right: var(--d-gap-xs);

      & + * {
        vertical-align: middle;
      }
    }

    &--title-vertical-center {
      align-self: center;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    @include text-align;

    #{$parent} {
      padding: 0;
    }

    &-inner {
      flex: 1;
      max-width: 100%;
    }
  }

  &__suffix {
    align-self: center;
    color: var(--d-secondary-text-color);
  }

  &__description {
    flex-basis: 100%;
    font-size: var(--d-font-size-sm);
    line-height: var(--d-line-height-xs);
    color: var(--d-secondary-text-color);
    white-space: pre-wrap;
  }

  &__right-icon,
  &__arrow {
    align-self: center;
  }
}
