@import '../style/prefix';

.#{$prefix}-form {
  .#{$prefix}-cell {
    background: none;
  }

  &--has-bg {
    .#{$prefix}-cell {
      background: var(--d-cell-background);
    }
  }

  &:not(&--border) {
    .#{$prefix}-cell {
      &::after {
        display: none;
      }
    }
  }

  &__item {
    &--hide {
      display: none;
    }

    &-message {
      font-size: var(--d-font-size-sm);
      color: var(--d-error);
    }

    &-requiredMark {
      vertical-align: middle;
      color: var(--d-error);
    }

    &-colon {
      margin-inline-start: 3px;
    }

    &-description {
      margin-top: var(--d-gap-xs);
      font-size: var(--d-font-size-sm);
      line-height: var(--d-line-height-xs);
      color: var(--d-secondary-text-color);
      white-space: pre-wrap;
    }
  }
}
