@import '../style/prefix';

.#{$prefix}-form {
  .#{$prefix}-cell {
    background: none;
  }

  &--has-bg {
    .#{$prefix}-cell {
      background: var(--d-cell-background);
    }
  }

  &__item {
    .#{$prefix}-cell {
      &::after {
        display: none;
      }
    }

    &-message {
      font-size: var(--d-font-size-sm);
      color: var(--d-error);
    }

    &-requiredMark {
      margin-left: var(--d-gap-xxs);
      vertical-align: middle;
      color: var(--d-error);
    }
  }
}
