@import '../style/prefix';

.#{$prefix}-form {
  .#{$prefix}-cell {
    background: none;
  }

  &--has-bg {
    .#{$prefix}-cell {
      background: var(--d-cell-background);
    }
  }

  &:not(&--border) {
    .#{$prefix}-cell {
      &::after {
        display: none;
      }
    }
  }

  &__item {
    padding-bottom: 0;

    & + & {
      padding-top: var(--d-gap-sm);
    }

    &--hide {
      display: none;
    }

    &-message {
      font-size: var(--d-font-size-sm);
      color: var(--d-error);
    }

    &-requiredMark {
      vertical-align: middle;
      color: var(--d-error);
    }

    &-colon {
      margin-inline-start: 3px;
    }
  }
}
