@import '../style/prefix.scss';
@import '../style/mixins.scss';

.#{$prefix}-checkbox-group {
  &--horizontal {
    display: flex;
    flex-wrap: wrap;

    .#{$prefix}-checkbox {
      margin-right: var(--d-gap-xs);
    }
  }

  .#{$prefix}-cell-group {
    margin-bottom: 0;
  }
}
