@mixin border-bottom($padding) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - #{$padding});
    height: 1px;
    background-color: var(--d-border-color);
    transform: scaleY(0.3) translateX(-50%);
  }
}
