html {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  background: none;
  font: inherit;
  color: inherit;
}

a,
input,
button,
textarea,
[class*='d-'] {
  &:focus {
    outline: none;
  }
}

input[class^='d-'] {
  &,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[class*='d-'] {
  box-sizing: border-box;
}
