@import '../style/prefix';
@import '../style/mixins';

:root {
  --d-dialog-title-font-size: 18px;
  --d-dialog-padding: var(--d-gap-md);
}

.#{$prefix}-dialog {
  $dialogPrefix: &;
  &--hide-overlay {
    #{$dialogPrefix} {
      &__wrapper {
        border: var(--d-border);
      }
    }
  }

  &__wrapper {
    left: 50%;
    padding: var(--d-dialog-padding);
    border-radius: var(--d-radius-medium);
    transition: transform 0.3s ease;
  }

  &--top {
    #{$dialogPrefix} {
      &__wrapper {
        transform: translate(-50%, 0) scale(1);
      }
    }
    &#{$dialogPrefix} {
      &-custom-enter-active,
      &-custom-leave-active {
        #{$dialogPrefix} {
          &__wrapper {
            transform: translate(-50%, 0) scale(1);
          }
        }
      }

      &-custom-leave-to,
      &-custom-enter-from {
        #{$dialogPrefix} {
          &__wrapper {
            transform: translate(-50%, 0) scale(0);
          }
        }
      }
    }
  }

  &--center {
    #{$dialogPrefix} {
      &__wrapper {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    &#{$dialogPrefix} {
      &-custom-enter-active,
      &-custom-leave-active {
        #{$dialogPrefix} {
          &__wrapper {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }

      &-custom-leave-to,
      &-custom-enter-from {
        #{$dialogPrefix} {
          &__wrapper {
            transform: translate(-50%, -50%) scale(0);
          }
        }
      }
    }
  }

  &__header {
    margin-bottom: var(--d-dialog-padding);
    text-align: left;
  }

  &__title {
    flex: 1;
    // 32px = icon size 24px + 8px
    max-width: calc(100% - 32px);
    color: var(--d-title-color);
    @include ellipsis();

    &-icon {
      margin-right: var(--d-gap-xs);
      vertical-align: middle;
    }

    &-text {
      vertical-align: middle;
      font-size: var(--d-dialog-title-font-size);
      font-weight: 500;
    }
  }

  &__footer {
    margin-top: var(--d-dialog-padding);
  }

  &__cancel-button {
    background: var(--d-gray-3);
    color: var(--d-primary-text-color);
  }
}
