@import '../style/prefix';

:root {
  --d-message-padding: var(--d-gap-xs) var(--d-gap-sm);
  --d-message-text-gap: var(--d-gap-xs);
  --d-message-close-icon-gap: var(--d-gap-md);
  --d-message-box-shadow: var(--d-shadow-3);
}

##{$prefix}-message-container {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999999;
  transform: translateX(-50%);
}

.#{$prefix}-message {
  text-align: center;

  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(-100%);
  }

  &__content {
    display: inline-flex;
    align-items: center;
    margin: 10px auto 0;
    padding: var(--d-message-padding);
    border-radius: var(--d-radius-medium);
    box-shadow: var(--d-message-box-shadow);
    background: var(--d-white-color);
  }

  &__text {
    flex: 1;
    margin-left: var(--d-message-text-gap);
    vertical-align: middle;

    & + * {
      margin-left: var(--d-message-close-icon-gap);
    }
  }

  &__closeable {
    cursor: pointer;
  }
}
