@import '../style/prefix';
@import '../style/mixins';

.#{$prefix}-picker {
  @include trigger;
  @include disabled;

  &__content {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
