@import '../style/prefix.scss';

:root {
  --d-cell-group-title-gap-bottom: var(--d-gap-xs);
  --d-cell-group-title-gap-padding: var(--d-gap-sm);
  --d-cell-group-gap-bottom: var(--d-gap-sm);
  --d-cell-group-radius: var(--d-radius-lg);
}

.#{$prefix}-cell-group {
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: var(--d-cell-group-gap-bottom);
  }

  &__title {
    margin-bottom: var(--d-cell-group-title-gap-bottom);
    padding: 0 var(--d-cell-group-title-gap-padding);
    color: var(--d-secondary-text-color);
  }

  &__content {
    &--round {
      overflow: hidden;
      border-radius: var(--d-cell-group-radius);
    }
  }
}
