@import '../style/prefix.scss';
@import '../style/mixins.scss';

.#{$prefix}-checkbox {
  display: flex;
  align-items: center;
  @include disabled;

  &__label {
    margin-left: var(--d-gap-xxs);
  }
}
