@import '../style/prefix.scss';

.#{$prefix}-icon {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;

  & + * {
    vertical-align: middle;
  }

  > svg {
    display: inline-block;
  }

  &--small {
    > svg {
      width: 1em;
      height: 1em;
    }
  }

  &--medium {
    > svg {
      width: 1.5em;
      height: 1.5em;
    }
  }

  &--large {
    > svg {
      width: 2em;
      height: 2em;
    }
  }

  &--spin {
    > svg {
      animation: #{$prefix}-icon-spin 1s infinite linear;
      transform-origin: center;
    }
  }
}

@keyframes #{$prefix}-icon-spin {
  to {
    transform: rotateZ(360deg);
  }
}
