@import '../style/prefix.scss';

.#{$prefix}-icon {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;

  & + * {
    vertical-align: middle;
  }

  &--small {
    > svg {
      width: 16px;
      height: 16px;
    }
  }

  &--medium {
    > svg {
      width: 20px;
      height: 20px;
    }
  }

  &--large {
    > svg {
      width: 24px;
      height: 24px;
    }
  }

  &--spin {
    > svg {
      animation: #{$prefix}-icon-spin 1s infinite linear;
      transform-origin: center;
    }
  }
}

@keyframes #{$prefix}-icon-spin {
  to {
    transform: rotateZ(360deg);
  }
}
