@import '../style/prefix.scss';
@import '../style/mixins.scss';

.#{$prefix}-cell {
  $parent: &;
  font-size: var(--d-font-size-md);
  line-height: var(--d-line-height-md);
  padding: var(--d-horizontal-gap) var(--d-gap-sm);
  background-color: var(--d-white-color);

  &__layout {
    display: flex;
    align-items: center;
  }

  &--border {
    &:not(:last-of-type) {
      @include border(var(--d-gap-sm));
    }
  }

  &--hide-title {
    #{$parent} {
      &__content {
        text-align: left;
      }
    }
  }

  &--disabled {
    #{$parent} {
      &__title,
      &__content {
        color: var(--d-disable-color);
      }
    }
  }

  &--layout {
    &-horizontal {
      > #{$parent} {
        &__wrapper {
          flex-direction: row;
        }
      }
    }

    &-vertical {
      > #{$parent} {
        &__layout {
          > #{$parent} {
            &__wrapper {
              flex-direction: column;

              > #{$parent} {
                &__title {
                  min-width: 100%;
                }

                &__content {
                  width: 100%;
                }
              }
            }
          }
        }

        &__description {
          margin-top: var(--d-gap-sm);
        }
      }
    }
  }

  &__wrapper {
    flex: 1;
    display: flex;
  }

  &__title {
    @include text-align;
    align-self: flex-start;
    margin-right: var(--d-gap-xs);
    word-break: break-word;

    &--mark {
      vertical-align: middle;
      color: var(--d-error);
    }

    &--icon {
      margin-right: var(--d-gap-xxs);
    }
  }

  &__content {
    flex: 1;
    display: flex;
    @include text-align;

    #{$parent} {
      padding: 0;
    }

    &-inner {
      flex: 1;
    }
  }

  &__suffix {
    color: var(--d-secondary-text-color);
    margin-left: var(--d-gap-xs);
    padding-left: var(--d-gap-xs);
  }

  &__description {
    color: var(--d-secondary-text-color);
    font-size: var(--d-font-size-sm);
    line-height: var(--d-line-height-xs);
    margin-top: var(--d-gap-xs);
  }

  &__right-icon,
  &__arrow {
    margin-left: var(--d-gap-xs);
  }
}
