@import '../style/prefix.scss';
@import '../style/mixins.scss';

.#{$prefix}-cell {
  $parent: &;
  display: flex;
  align-items: center;
  padding: var(--d-horizontal-gap) var(--d-gap-sm);
  background-color: var(--d-white-color);
  font-size: var(--d-font-size-md);
  line-height: var(--d-line-height-md);

  &:not(:last-of-type) {
    @include border(var(--d-gap-sm));
  }

  &--hide-title {
    #{$parent} {
      &__content {
        text-align: left;
      }
    }
  }

  &--disabled {
    #{$parent}__title {
      color: var(--d-disable-color);
    }
  }

  &__title {
    @include text-align;
    align-self: flex-start;
    margin-right: var(--d-gap-xs);
    word-break: break-word;

    &--mark {
      vertical-align: middle;
      color: var(--d-error);
    }

    &--icon {
      margin-right: var(--d-gap-xxs);
    }
  }

  &__content {
    flex: 1;
    @include text-align;

    #{$parent} {
      padding: 0;
    }
  }

  &__suffix {
    margin-left: var(--d-gap-xs);
    padding-left: var(--d-gap-xs);
    color: var(--d-secondary-text-color);
  }

  &__right-icon,
  &__arrow {
    margin-left: var(--d-gap-xs);
  }
}
